body{
    font-family: 'Kanit', sans-serif;
    font-family: 'Prompt', sans-serif;
}

.container {
    max-width: 500px;
    margin: 120px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.container h1{
    text-align: center;
}

.select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid lightgray;

}

.input{
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 6px;
}

.temp{
    width: 474px;
    padding: 10px;
    margin: 10px 0;
    display: inline;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid lightgray;
}
.result{
    width: 474px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 6px;
    /* display: inline; */
}

.button{
    width: 100%;
    padding: 10px;
    display: inline;
    background: rgb(23, 174, 255);
    border: 1px solid lightgray;
    cursor: pointer;
    color: white;
    font-size: 20px;
    border-radius: 6px;
}

.button :hover{
    color: rgb(167, 211, 235);
}